.brand{
    
    display: flex;
    justify-content: center;
}

.filter>div,span,input,label{
    cursor: pointer;
}


input[type=range] {
    width: 10rem;
    height: 25px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

.optioncontainer{
    height: 0;
    overflow: hidden;
}

.optioncontainer>div:hover{
}

.mainoptioncon{
    width: 100%;
    padding-left: 3.5rem;
    font-weight: bold;
    font-size: 1.3rem;
    transition: all 0.6s;
    cursor: pointer;
    margin: 3rem auto;

}


